name: Nix Build

on:
  workflow_call:
    inputs:
      build-command:
        description: "Nix build command"
        required: false
        type: string
        default: "nix build"
      working-directory:
        description: "Working directory for commands"
        required: false
        type: string
        default: "."

jobs:
  nix-build:
    name: Nix Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build with Nix
        run: ${{ inputs.build-command }}
